.idea/
.vs/
CustomTypeBuilder/bin/
CustomTypeBuilder/obj/Debug/netcoreapp2.0/CustomTypeBuilder.AssemblyInfo.cs
CustomTypeBuilder/obj/Debug/netcoreapp2.0/CustomTypeBuilder.csproj.FileListAbsolute.txt
CustomTypeBuilder/obj/Debug/netcoreapp2.0/TypeBuilder.AssemblyInfo.cs
CustomTypeBuilder/obj/Debug/CustomTypeBuilder.1.0.0.nuspec
CustomTypeBuilder/obj/CustomTypeBuilder.csproj.nuget.g.props
CustomTypeBuilder/obj/CustomTypeBuilder.csproj.nuget.g.targets
CustomTypeBuilder/obj/project.assets.json
CustomTypeBuilder/obj/project.packagespec.json
CustomTypeBuilder/obj/TypeBuilder.csproj.nuget.g.props
CustomTypeBuilder/obj/TypeBuilder.csproj.nuget.g.targets
CustomTypeBuilder.Tests/bin/Debug/netcoreapp2.0/CustomTypeBuilder.Tests.deps.json
CustomTypeBuilder.Tests/bin/Debug/netcoreapp2.0/CustomTypeBuilder.Tests.runtimeconfig.dev.json
CustomTypeBuilder.Tests/bin/Debug/netcoreapp2.0/CustomTypeBuilder.Tests.runtimeconfig.json
CustomTypeBuilder.Tests/obj/Debug/netcoreapp2.0/CustomTypeBuilder.Tests.AssemblyInfo.cs
CustomTypeBuilder.Tests/obj/Debug/netcoreapp2.0/CustomTypeBuilder.Tests.csproj.CopyComplete
CustomTypeBuilder.Tests/obj/Debug/netcoreapp2.0/CustomTypeBuilder.Tests.csproj.FileListAbsolute.txt
CustomTypeBuilder.Tests/obj/Debug/netcoreapp2.0/CustomTypeBuilder.Tests.Program.cs
CustomTypeBuilder.Tests/obj/CustomTypeBuilder.Tests.csproj.nuget.g.props
CustomTypeBuilder.Tests/obj/CustomTypeBuilder.Tests.csproj.nuget.g.targets
CustomTypeBuilder.Tests/obj/project.assets.json

CustomTypeBuilder/obj/

CustomTypeBuilder\.Tests/bin/

CustomTypeBuilder\.Tests/obj/
